* {
    margin: 0;
    padding: 0;
}


.coment {
    width: 600px;
    height: 50px;
    background-color: #ffff00;
    border: none;

}

.coment_button {
    border: none;
    background-color: white;

}

.IconUsers {
    border-radius: 40px;
    width: 50px;
    height: 50px;
    padding: 5px;
}

.coment_input {
    border: none;
    float: left;
    outline: none;
    padding-left: 30px;
    width: 100%;
    min-height: 50px;
    max-height: 150px;

    overflow-y: scroll;
    overflow: hidden;
}


.ComentarioArea {
    border-radius: 0 0 10px 10px;

    background-color: black;
    width: 100%;
    border-color: #000000;
    border-top: 5px solid #000000;
    box-shadow: 5px 5px #000000;
    border-style: inset;
}

.InputArea {
    border-radius: 0 0 10px 10px;
    background-color: white;
    padding: 10px;

    display: flex;

}