 /* card edit photo  */
.img_icon_user{
    height: 100%;
}

.card-photo-img {
    height: 350px !important;
}

.card-photo {
    margin: auto;
    max-width: 500px;
    width: 100%;
    height: 100%;
    background: #020202;
    border-radius: 15px;
    box-shadow: 1px 5px 60px 0px #100a886b;
}

.card-photo .card-border-top {
    width: 60%;
    height: 35px;
    background: #3405a3;
    margin: auto;
    border-radius: 0px 0px 15px 15px;
}

.card-photo span {
    font-weight: 600;
    color: white;
    text-align: center;
    display: block;
    font-size: 25px;
}

.card-photo .job {
    font-weight: 400;
    color: white;
    display: block;
    text-align: center;
    padding-top: 3px;
    font-size: 12px;
}

.card-photo .img {
    width: 120px;
    height: 120px;
    background: #6b64f3;
    border-radius: 15px;
    margin: auto;
    margin-top: 25px;
}

.card-photo button {
    padding: 8px 25px;
    display: block;
    margin: auto;
    border-radius: 8px;
    border: none;
    margin-top: 30px;
    background: #3405a3;
    color: white;
    font-weight: 650;
    font-size: 15px;
}

.card-photo button:hover {
    background: #534bf3;
}

/* / card edit photo end */